# OS
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Node.js
node_modules/
.npm
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
/dist
/build
.cache/
.tmp/

# Strapi
.env
.strapi/
.strapi-updater.json
.strapi-cloud.json
database/
exports/
public/uploads/*
!public/uploads/.gitkeep

# IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.tsbuildinfo
.eslintcache

# Logs
*.log
logs/